<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <link href="../../static/css/quantlance.css"
          th:href="@{css/quantlance.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                    	<div th:if="${currentUser==null}">
							<li><a href="/login">Log in</a></li>
						</div>
			             <div th:if="${currentUser}">
					             <li>
									<form action="/logout" method="get">
										<button type="submit">Log out</button>
									</form>
								</li>
								<li><a href="#" th:href="@{|/user/${currentUser.id}|}">View myself</a></li>
								
								<div th:if="${currentUser.role == T(com.quantlance.domain.Role).ADMIN}">
													<li><a href="#" th:href="@{/user/create}">Create a new User</a></li>
													<li><a href="#" th:href="@{/users}">View all users</a></li>
								</div>
								
					            <li><a href="#" th:href="@{/products}">View all products</a></li>
					            <li><a href="#" th:href="@{/product/create}">Create a new Product</a></li>
			             </div>
			        </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Spring Framework Quantlance</h2>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/SmallerLogo.jpg" width="200"
                     th:src="@{/images/SmallerLogo.jpg}"/>
            </div>
        </div>
    </div>
</div>
</body>
</html>